header {
  display: flex;
  height: 400px;
  background-color: #e37d00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.Aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}