.user-profile {

  /* Added padding on top to counter the sticky nav. That way it doesnt cover the top portion of the website */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0f0f0e;
  height: 400px;
  background-color: #f18d12;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}