button {
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #ffffff;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  padding: auto;
  margin-top: 0.5em;
}
.alert-message{
  border: 4px solid #ff0000;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ff0000;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  width: 70%;
}
#tweet-text {
  color: #545149;
  border: 0;
  box-shadow: none;
  width: 100%;
  margin: auto;
  padding: auto;
  border-bottom: 5px solid #545149;
  font-family: 'Source Sans Pro', sans-serif;
  resize: none;
}
.counter {
  font-family: 'Bungee', cursive;
  color: #545149;
  margin-top: 0.5em;
  float: right;
}

