button {
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #ffffff;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  padding: auto;
  margin-top: 0.5em;
}

#tweet-text {
  color: #545149;
  border: 0;
  box-shadow: none;
  width: 100%;
  margin: auto;
  padding: auto;
  border-bottom: 5px solid #545149;
  font-family: 'Source Sans Pro', sans-serif;
}
.counter{
  font-family: 'Bungee', cursive;
  color: #545149;
  margin-top: 0.5em;
  float: right;
}

