.old-tweet {
  color: #545149;
  width: 100%;
  margin: 1em auto;
  border: 5px solid #545149;
  font-family: 'Source Sans Pro', sans-serif;
  
}
/* instead of using a function and a seperate .js file, added hover functionality through .old-tweet directly*/
.old-tweet:hover {
  box-shadow: 10px 10px gainsboro;
}
.old-tweet-userinfo {
  margin: 0.5em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.old-tweet-userinfo > div {
  display: flex;
  align-items: center;
}
.Username{
  color: rgb(189, 189, 189);
}
.old-tweet-userinfo img {
  width: 100px;
  height: 100px;
}
.dateSinceTweet {
  margin-left: 1em;
}
.tweet {
  margin: 0.5em;
  padding: 1.5em 1em;
  border-bottom: 5px solid #545149;
}