.old-tweet {
  color: #545149;
  width: 100%;
  margin: 1em auto;
  border: 5px solid #545149;
  font-family: 'Source Sans Pro', sans-serif;
}
.old-tweet-userinfo {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}
.Username{
  color: rgb(189, 189, 189);
}
.old-tweet-userinfo img {
  width: 100px;
  height: 100px;
}

.tweet {
  margin: 1em;
  padding: 1em;

  border-bottom: 5px solid #545149;
}